{% extends "base_template.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/course.css')}}">
{% endblock %}

{% block title %}
<title>{{course['Course Name']}}</title>
{% endblock %}

{% block page %}
<div class="course-page-sub-heading">
    <h2>Course Details</h2>
</div>
<br>

<br>
<div id="course-info">
    <h3>{{course['Code']}}</h3>
    <h3>{{course['Course Name']}}</h3>

    <div class="course-labels">
        {% if mayberestricted %}
        <h5>
            <span class="badge rounded-pill bg-danger" tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                title="This course may be restricted to students within this department.">
                Restricted
            </span>
        </h5>
        {% endif %}
        {% if faseavailable %}
        <h5>
            <span class="badge rounded-pill bg-success" tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                title="This course is likely available to students in the Faculty of Applied Science and Engineering!">FASE
                Available</span>
        </h5>
        {% endif %}
    </div>

    <br>

    {% for k,v in course.items() %}
    {% if k != 'Course Name' and k != 'Code' %}
    <h4>{{k}}</h4>
    {% if k == 'Course Level' %}
    <h5>
        <span class="badge bg-warning text-dark">
            {{v | safe}}
        </span>
    </h5>
    <br>
    {% elif k == 'Campus' %}
    <h5>
        <span class="badge bg-info text-dark">
            {{v | safe}}
        </span>
    </h5>
    <br>
    {% else %}
    <p>{{v | safe}}</p>
    {% endif %}
    <br>
    {% endif %}
    {% endfor %}

    {% for t,a in zip(terms,activities) %}
    {% if a == a %}
    <h4>{{t}} Schedule</h4>
    <div id="activities-schedule-table-container">
        {{a | replace("table class=\"","table class=\"table table-light table-striped table-hover") | safe}}
    </div>
    <br>
    {% endif %}
    {%endfor%}

    <br>
    <table class="tg table table-bordered">
        <tbody>
            <tr>
                <td class="tg-if7n table-primary" rowspan="3">
                    <p><b>Smart Pre-Requisites</b></p>
                    {% for c in aip %}
                    <p><a class="btn btn-outline-dark" href='/course/{{c}}' target="_blank">{{c}}</a></p>
                    {% endfor %}
                </td>
                <td class="tg-0pky table-info" rowspan="3">
                    <p><b>Pre-Requisites</b></p>
                    {% for c in pre %}
                    <p><a class="btn btn-outline-dark" href='/course/{{c[0]}}' target="_blank">{{c[0]}}</a></p>
                    {% endfor %}
                </td>
                <td class="tg-c3ow table-warning">
                    <p><b>Co-Requisites</b></p>
                    {% for c in coreq %}
                    <p><a class="btn btn-outline-dark" href='/course/{{c}}' target="_blank">{{c}}</a></p>
                    {% endfor %}
                </td>
                <td class="tg-0pky table-info" rowspan="3">
                    <p><b>Pre-Requisite for</b></p>
                    {% for c in post %}
                    <p><a class="btn btn-outline-dark" href='/course/{{c[1]}}' target="_blank">{{c[1]}}</a></p>
                    {% endfor %}
                </td>
                <td class="tg-0lax table-primary">
                    <p><b>Smart Majors</b></p>
                    {% for c in majors %}
                    <p>{{c}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tg-7btt table-success">
                  <b>{{course['Course Name']}}</b>
                </td>
                <td class="tg-0lax table-primary" rowspan="2">
                    <p><b>Smart Minors/Certs/Specs</b></p>
                    {% for c in minors %}
                    <p>{{c}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tg-dxqr table-danger">
                    <p><b>Exclusions</b></p>
                    {% for c in excl %}
                    <p><a class="btn btn-outline-dark" href='/course/{{c}}' target="_blank">{{c}}</a></p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}