#results-page-table-container {
  margin: 20px auto;
  overflow-y: scroll;
  height:60vh;
}

#results-page-table-container table {
  padding: 3px;
}

#results-page-table-container table td {
  padding: 3px;
}

#results-page-table-container table th {
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #00204E;
  color: white;
  border-collapse: separate;
}

#results-page-table-container table th:last-child,#results-page-table-container table td:last-child {
  border-right: 1px solid #00204E;
}

#results-page-table-container table th:first-child,#results-page-table-container table td:first-child {
  border-left: 1px solid #00204E;
}

#results-page-table-container table tr:last-child {
  border-bottom: 1px solid #00204E;
}


.nav-tabs .nav-item .nav-link {
  background-color: #DCDCDC;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}